* {
  margin: 0;
  box-sizing: border-box;
  touch-action: none;
}

body {
  min-height: 100vh;
  background-color: rgb(144, 144, 243);
  padding: 1rem;
  max-height: 100vh;
  overflow: hidden;
}
.hymnContainer {
  display: flex;
  flex-direction: column;
  touch-action: none;
}
.btn {
  --btnShadow: rgba(4, 4, 88, 0.1);
  background: linear-gradient(45deg, rgba(125, 120, 216, 0.542), rgb(4, 4, 88));
  border-radius: 20px;
  font-size: 2rem;
  color: white;
  padding: 1rem;
  margin: 0.2rem;
  box-shadow: var(--btnShadow) 0.3rem 0.3rem 0.5rem,
    var(--btnShadow) -0.3rem -0.3rem 0.5rem,
    var(--btnShadow) -0.3rem 0.3rem 0.5rem,
    var(--btnShadow) 0.3rem -0.3rem 0.5rem;
  flex-basis: 0;
  transition: all 1s;
  -webkit-user-select: none; /*prevent text selection*/

  display: grid;
  grid-area: 1fr, 1fr, 1fr, 1fr;
}

.btn.btn1,
.btn.btn-1 {
  /* filter: blur(2px) grayscale(0.5); */
  /* background: none; */
  /* filter: grayscale(0.6); */
}
.btn.btn2,
.btn.btn-2 {
  /* filter: grayscale(0.4); */
}
.btn.btn3,
.btn.btn-3 {
  /* filter: grayscale(0.2); */
}
.btn.blurred {
  filter: blur(10px);
  transition: all 1s;
}
#hymnContainer .btn.open {
  flex-basis: min-content;
  transition: all 1s;
}

#hymnContainer .btn.open .innerStage1Btn {
  font: inherit;
  padding: 1rem;
  border-radius: 10px;
  background: linear-gradient(rgb(241, 68, 68), rgba(0, 0, 0, 0.533));
  color: white;
}

button.scroll {
  --scrollShadow: rgba(105, 9, 95, 0.34);
  height: 100px;
  width: 100px;
  position: absolute;
  background: linear-gradient(rgb(230, 124, 230), rgb(166, 224, 166));
  box-shadow: var(--scrollShadow) 0.3rem 0.3rem 0.5rem,
    var(--scrollShadow) -0.3rem -0.3rem 0.5rem,
    var(--scrollShadow) 0.3rem -0.3rem 0.5rem,
    var(--scrollShadow) -0.3rem 0.3rem 0.5rem;
}
button.scroll svg {
  height: 100%;
}
button#testDown {
}
button#testUp {
  right: 0;
}
#output {
  height: fit-content;
  width: 30%;
  min-width: max-content;
  position: absolute;
  bottom: 50px;
  background-color: rgba(0, 255, 255, 0.553);
  border-radius: 10px;
  padding: 0.25rem;
}
